<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img src="{{card_img}}" alt="" class="intro-img img-fluid mb-3 mb-lg-0 rounded">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">
                        {{card_heading}}
                    </span>
                    <span class="section-heading-lower">
                        {{card_sub}}
                    </span>
                </h2>
                    <p class="mb-3">
                        {{card_desc}}
                    </p>
                    <div class="intro-button mx-auto">
                        <a href="#" class="btn btn-primary btn-xl">{{card_btn}}</a>
                    </div>
            </div>
        </div>
    </div>
</section>