<a class="skip-to-content" href="#main-content">Skip to content</a>
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark py-lg-4">
  <div class="container">
    <a href="/" class="navbar-brand text-uppercase fw-bold d-lg-none">
      Start Bootstrap
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        {% for nav in navbar.navigations %}
        <li class="nav-item px-lg-4">
          <a href="{{nav.Url}}" class="nav-link text-uppercase"
            >{{nav.Navigation}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
